.centered-content {
  text-align: center;
  margin: 20px 0;


}
.footer-content {
  margin: 30px;
  color: grey;
  ;
}
.carousel-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}.information-card {
  margin: 20px 0;
}

