/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f2f5;
}

nz-header {
  background: white !important;
}

nz-content {
  padding: 3rem;
}

.move-right {
  float: right;
}
