/* You can add global styles to this file, and also import other style files */
body {
  background-color: #000000;
}

nz-header {
  background: #000000 !important;
}

nz-content {
  padding: 3rem;
}

.move-right {
  float: right;
}
