.status-filter {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #3b3939;
  border-radius: 8px;
  background-color: #090808;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: start;
}

.status-filter label {
  margin-right: 10px;
  font-weight: bold;
}

.status-filter select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #41476c;
  background-color: #41476c;
}

.nz-collapse {
  margin: 20px 0;
}

.nz-collapse-panel {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.order-content {
  padding: 20px;
  background-color: #090808;
  border-radius: 8px;
}

.trip-details p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #41476c;
}
