<div *ngIf="trips$ | async as data" class="trip-details">
    <h3 [ngStyle]="{ margin: '16px 0' }">Lista wycieczek</h3>
    <nz-list class="demo-loadmore-list">
        <nz-list-item *ngFor="let item of data" class="data-item">
            <ng-container>
                <nz-list-item-meta
                        nzAvatar="{{item.imageUrl}}"
                        nzDescription="{{item.country}} "
                >
                    <nz-list-item-meta-title>
                        <a [routerLink]="['/trips/', item._id]">{{ item.name }}</a>
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
                {{item.startAt | date: 'dd/MM/yyyy'}} - {{item.endAt | date: 'dd/MM/yyyy'}}
                <ul nz-list-item-actions>
                    <nz-list-item-action><a  [routerLink]="['edit/', item._id,]">edit</a></nz-list-item-action>
                    <nz-list-item-action><button
                            nz-button nzType="primary"
                            nzDanger
                            nz-popconfirm
                            nzPopconfirmTitle="Na pewno chcesz usunąć wycieczkę?"
                            nzPopconfirmPlacement="top"
                            (nzOnConfirm)="deleteTrip(item)"
                            (nzOnCancel)="cancel()"
                    >Usuń wycieczkę
                    </button></nz-list-item-action>
                </ul>
            </ng-container>
        </nz-list-item>


    </nz-list>

</div>
